.chess-piece {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    transition: all 0.3s;
}

.handled{
    z-index: 100;
}

.chess-piece.White-Pawn {
    background-image: url('./img/wP.svg');
}

.chess-piece.Black-Pawn {
    background-image: url('./img/bP.svg');
}


.chess-piece.White-Knight {
    background-image: url('./img/wN.svg');
}

.chess-piece.Black-Knight {
    background-image: url('./img/bN.svg');
}

.chess-piece.White-Bishop {
    background-image: url('./img/wB.svg');
}

.chess-piece.Black-Bishop {
    background-image: url('./img/bB.svg');
}

.chess-piece.White-Rook {
    background-image: url('./img/wR.svg');
}

.chess-piece.Black-Rook {
    background-image: url('./img/bR.svg');
}

.chess-piece.White-King {
    background-image: url('./img/wK.svg');
}

.chess-piece.Black-King {
    background-image: url('./img/bK.svg');
}


.chess-piece.White-Queen {
    background-image: url('./img/wQ.svg');
}

.chess-piece.Black-Queen {
    background-image: url('./img/bQ.svg');
}