@keyframes rotate {
    100% {
        transform: rotate(1turn);
   }
}
.searchModal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
}
.searchModal::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#1A237E ,#5b66db ), linear-gradient(#E0E0E0 , #E0E0E0), linear-gradient(#E0E0E0 , #E0E0E0), linear-gradient(#E0E0E0 , #E0E0E0);
    animation: rotate 3s linear infinite;
}
.searchModal::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;   
}